<h1><%= @ceremony.name %></h1>

<ul>
  <% @ceremony.sessions.each do |session| %>
    <li>
      <%= link_to "Book", session_bookings_path(session), method: :post %>
      <%= session.start_at %>
    </li>
  <% end %>
</ul>
