<div class="container">
  <div class="row">
    <div class="col-lg" >
      <h1>Ancient Knowledge for Curious souls</h1>
      <h4></h4>
       <div class="col-lg pt-3" >
        <div class="form-inline justify-content-center">
      </div>
      </div>
    </div>
  </div>
</div>
<footer class="mastfoot">
  <div class="inner">
    <p>Fueled by the brogrammers: @max, @mau, @pedro, @joselito</p>
  </div>
</footer>
