<div class="container">
  <h1 class="pb-3">Ancient Knowledge<br>for Curious souls</h1>
  <%= render "components/search_dropdown" %>
</div>
<footer class="mastfoot">
  <div class="inner">
    <p>Fueled by the brogrammers: @max, @mau, @pedro, @joselito</p>
  </div>
</footer>
