<div class="wrapper topito">
  <div class="gradient">
    <div class="home-banner">
      <video autoplay muted loop id="myVideo">
        <source src="https://res.cloudinary.com/doytwihfl/video/upload/v1583457160/adiwa/mixkit-green-toad-breathing-with-a-dark-background-1466_gj5z9p.mp4" type="video/mp4">
      </video>
    <%= render "shared/landing_page" %>
    </div>
  </div>
</div>


