<div class="wrapper">
  <div class="gradient">
    <div class="home-banner">
      <video autoplay muted loop id="myVideo">
        <source src="https://res.cloudinary.com/pcobos85/video/upload/v1583269745/1709-1080.mp4" type="video/mp4">
      </video>
    <%= render "shared/landing_page" %>
    </div>
  </div>
</div>


