


.home-banner {

  text-align: center;
  padding-top: 40vh;

  h1 {
  font-size: 48px;
  font-weight: 300 !important;
  text-shadow: 2px 2px 8px #000;
  color: #fafafa;
  margin-bottom: 1.5rem;
}

}
  #myVideo {

  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: -1;
}

.wrapper {
  position: absolute;
  width: 100%;
  margin-top: -80px;
}

.gradient {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3),rgba(0,0,0,0.1),rgba(0,0,0,0.6));
  width: 100%;
  height: calc(105vh);
  min-height: 600px;
  object-fit: cover;
  position: absolute;
}

video {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: calc(100vh - 80px);
  min-height: 600px;
  object-fit: cover;
}



