.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  z-index: 3;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.nav-link {
  color: white !important;
}
